/* POUR LA PAGE RANDO */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(255, 255, 255)
}
section{
    display:flex;
    flex-direction: column;
    align-items: center;
}
section div{
    display: flex;
    flex-direction: row;
    gap:2em;
}
section div p{
    padding:1em;
    backdrop-filter:brightness(50%) blur(1px);
    line-height: 1.5;
}
section div img{
    object-fit: contain;
    width:16em;
}
#sugiton{
    padding:2em 8em;
    background-image:url(images/bg/bgrando1.jpg);
    background-position: bottom;
    background-size: cover;
}
#cretes{
    padding:2em 8em;
    background:url(images/bg/bgrando2.jpg);
    background-size: cover;
    background-position:center
}
#niolon{
    padding:2em 8em;
    background:url(images/bg/bgrando3.jpg);
    background-size: cover;
    background-position:20%
}
#etoile{
    padding:2em 8em;
    background:url(images/bg/bgrando4.jpg);
    background-size: cover;
    background-position: 15%;
}