/* POUR LA PAGE PARC */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:rgb(255, 255, 255)
}
section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:42em
}
section div{
    flex-direction: row;
    justify-content: end;
    gap:2em;
    padding:1em;
    backdrop-filter:brightness(50%) blur(1px);
    line-height: 1.5;
    opacity: 0%;
    transition: opacity 1s;
}
section:hover div{
    transition: opacity 1s;
    opacity: 100%
}
#borely{
    padding:2em 8em;
    background-image:url(images/bg/bgparc1.jpg);
    background-position: bottom;
    background-size: cover;
}
#centenaire{
    padding:2em 8em;
    background:url(images/bg/bgparc2.jpg);
    background-size: cover;
    background-position:center
}
#obscure{
    padding:2em 8em;
    background:url(images/bg/bgparc3.jpg);
    background-size: cover;
    background-position:20%
}
#longchamps{
    padding:2em 8em;
    background:url(images/bg/bgparc4.jpg);
    background-size: cover;
    background-position: 15%;
}