body {
    background:url(images/bg/bgaccueil.png);
    background-position: top center;
    background-attachment: fixed;
    }
    
    table {
        width: 80%;
        margin: 20px auto;
        margin-top:150px;
        margin-bottom:150px;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère */
    }
    
    th, td {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    
    th {
        background-color: #4CAF50; /* Couleur de fond pour les cellules d'en-tête */
        color: white; /* Couleur du texte pour les cellules d'en-tête */
    }
    
    td {
        background-color: #f9f9f9; /* Couleur de fond pour les cellules de données */
    }
    
    table a {
        color: #3498db; /* Couleur du lien */
        text-decoration: none;
        font-weight: bold;
    }
    
    table a:hover {
        text-decoration: underline; /* Soulignement lorsqu'on survole le lien */
    }
    