/* POUR LA PAGE RANDO */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white
}
section{
    display:flex;
    flex-direction: column;
    align-items: center;
}